main{
    display: flex;

    /*overflow-x: auto;
    overflow-y: hidden;*/
}
.nav-pills .nav-link.active{
    width: 100%;
    background-color: rgba(108, 117, 125, 0.75);
    border-left: 5px solid #1a1e21;
    border-radius: 0;
}